#add{
    background-color: rgb(24, 219, 53);
    color: white;
    border-radius: 5px;
}
#btn{
    background-color: rgb(24, 31, 219);
    color: white;
    border-radius: 5px;
}
#btn1{
    background-color: rgb(219, 24, 34);
    color: white;
    border-radius: 5px;
}

